<h4>Editar <%= @idea.title %></h4>
<%= link_to "<i class='fas fa-trash'></i> Borrar idea".html_safe, idea_path(@idea), method: :delete, data: {confirm: '¿Estás seguro de eliminar tu idea? Esta acción es irreversible. Se eliminarán todos los likes y comentarios asociados a esta idea.'}, class: 'text-danger' %>
<hr>
<%= render 'form', idea: @idea %>

