<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <% if alert["class"].blank? %>
    <p class="alert alert-warning"><%= alert %></p>
  <% else %>  
    <p class="alert alert#{alert["class"]}"><%= alert["class"] %></p>
  <% end %>
<% end %>